/*Footer*/
footer{
    background-color: #005677;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
}
footer a{
   color: #ffffff;
}