/* Media queries */
.card-sections > section {
  background-color: #f8f8f8;
  margin: 0.6rem;
  padding: 1rem;
  height: 12.5rem;
}

.card-sections > section p:nth-child(1) {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: -3px -3px 2px #03faee;
          box-shadow: -3px -3px 2px #03faee;
  text-align: center;
  line-height: 2;
}

header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li a {
  padding: 10px;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 8rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 15px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

span {
  background-color: #03faee;
  display: inline-block;
}

/* HEADER */
header h1 {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  header h1 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  header a {
    display: none;
  }
}

/* MAIN */
.titulo {
  background-image: url("/assets/wireframe.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .titulo {
    height: auto;
  }
}

.titulo div {
  width: 50%;
  /*.fondito{
            background-color: $bg-primary;
            position: relative;
            top: 3rem;
            z-index: -1;
            width: 210px;
            height: 50px;
        }*/
}

@media screen and (max-width: 768px) {
  .titulo div {
    width: 100%;
    padding: 10px 0;
  }
}

.titulo div span {
  height: 45px;
}

.titulo div h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3.4rem;
  line-height: 4.3rem;
  letter-spacing: 0.6rem;
}

.titulo div p {
  font-size: 20px;
  font-weight: 400;
  color: #8b8b8b;
}

.titulo div .buttons {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .titulo div .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    text-align: center;
  }
}

.titulo div .buttons a {
  background-color: #03faee;
  border-radius: 0.6rem;
  font-weight: bold;
  margin: 2rem 1rem 0 0;
  padding: 1rem 3rem;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.titulo div .buttons a:hover {
  -webkit-box-shadow: 2px 2px 2px #8b8b8b;
          box-shadow: 2px 2px 2px #8b8b8b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .card-sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .card-sections > section {
    width: 100%;
  }
}

.card-sections > section span {
  height: 10px;
}

.card-sections > section h3 {
  font-weight: bold;
  padding: 1rem 0;
}

footer p {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  footer p {
    font-size: 1rem;
  }
}

footer ul li a {
  border-left: solid;
  border-width: thick;
  border-radius: 50%;
  border-left-color: #03faee;
  width: 40px;
}
/*# sourceMappingURL=style.css.map */